
#get the google maps API key and ID from Google Cloud Console
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_ID=


NEXT_PUBLIC_SOCKET_IO_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api