PORT = 8000

# Send mail to ckeerthankumar4@gmail.com to get the database credentials
DATABASE_URL =
DATABASE_URL_UNPOOLED=

#setup a JWT secret key for authentication
JWT_SECRET_KEY=""

OPTIMIZATION_SERVICE_URL ="http://localhost:5001/api/"
NODE_ENV = "development"

# get the email credentials to send emails from gmail by creating an app password
EMAIL_PASS=
EMAIL_USER=