
# Get the Google Maps API key and ID from Google Cloud Console

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_ID=

# Get the OpenWeatherMaps API key from OpenWeatherMap
# You can sign up for a free account to get your API key
OPENWEATHERMAPS_API_KEY=


MAIN_BACKEND_URL=http://localhost:8000/api/
BACKEND_SOCKET_URL=http://localhost:4000